/* Fixed popup size */
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    font-family: sans-serif;
    align-content: center;
    background-image: url(backgroundmaybe.jpg);
}

.webDescription {
    font-family: "Pixelify Sans", sans-serif;
    font-weight: bolder;
    text-align: center;
    font-size: x-large;
}

.webDescription .yell {
    font-size: x-large;
}